eventio-client/node_modules/

eventio-demo/
eventio-docs/
eventio-archive/

eventio-server/.gradle
eventio-server/.idea
eventio-server/build
eventio-server/out
eventio-server/*.iml

eventio-server/src/main/resources/secret.properties

sonarqube_extensions/
sonar-kotlin/

.DS_Store
